<div id="overall-header">
    <div class="inner-wrapper">
        <a href="./" id="header-brand">
            <div class="brand-logo"></div>
            <div class="brand-name">pixdo</div>
        </a>
        <div id="header-menu">
            <nav>
                <ul>
                    <li>
                        <a href="http://pix.do">Home</a>
                    </li>
                    <li>
                        <a href="http://pix.do/leaderboard/global">Leaderboard</a>
                    </li>
                    <li>
                        <a href="http://pix.do/canteen">Canteen</a>
                    </li>
                    <li>
                        <a href="http://pix.do/refer">Refer</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>